<div id="header">
  <h1>Course Registration Online System <sub>  (CRO )</sub></h1>
</div>
<div id="content">

  <div id="left_content">
    John Done  <br> <br>
    NVE-4472<br> <br>
    +21043567934<br><br>
    johndone@dkus@edu
  </div>
  <div id="right_content">
    83 of 120 Credit<br><br>
    Undergraduate<br><br>
    <a href="" routerLink="/login" routerLinkActive="active"> LogOut</a><br><br>
    <a href="" routerLink="/register" routerLinkActive="active"> Register Course</a>
  </div>


</div>
<form method="post" action="record.component.html">
  <div id="innercontent">
    <div id="left_innercontent">
      Registeration ID :<b> 34233544</b><br><br>
      Course : <b>SK103 - Literature in Sanskrit Language </b><br><br>
      Semester : <b>Winter 2022</b>

    </div>
    <div id="right_innercontent">
      <h2>Register Information</h2><br><br><br>
      <input type="submit" value ="Dashboard"  class="button" routerLink="/show" routerLinkActive="active">
    </div>

  </div>
</form>
<div id="footer">
  <h3>&copy;&nbsp;Dekastan State University (Civities Universities Dekastan )</h3>
</div>

