<div style="background-color: mediumseagreen;width:100%;height:60px;font-size:40px;color:white;padding-left:30px;padding-top:10px;">Course Registration Online System
  <button style="background-color: yellow">(CRO)</button>
</div>
<table  style="width:100%;border-spacing:0 10px;">
  <tr>
    <td style="padding-right:100px;font-size:18px;">John Done</td>
    <td style="font-size:20px;">83 of 120 Credit</td>
  </tr>

  <tr>
    <td style="font-size:18px;">NVE-4472</td>
    <td style="font-size:18px;">Undergraduate</td>
  </tr>

  <tr>
    <td style="font-size:18px;">+21043567934</td>
    <td style="font-size:18px;"></td>
  </tr>

  <tr>
    <td style="font-size:18px;">johndone@dksu.edu</td>
    <td style="font-size:18px;"></td>
  </tr>

</table>
<br>
<div style="font-size: 22px;font-weight: bold;text-align: center;">Registration Summits</div>
<br>
<table style="width: 100%; border-spacing:0 10px; ">
  <tr style="background-color: mediumseagreen;font-weight: bold;">
    <td>ID</td>
    <td>Course</td>
    <td>Semester</td>
    <td>Status</td>
  </tr>

  <tr>
    <td>334643</td>
    <td>SK103-Literature in Sanskrit Language</td>
    <td>Summer 2021</td>
    <td>Pending</td>
  </tr>

  <tr>
    <td>865953</td>
    <td>SK428-Historical Survey of Sanskrit Literature </td>
    <td>Winter 2021</td>
    <td>Confirmed</td>
  </tr>

  <tr>
    <td>4564155</td>
    <td>SK102-Methodology of Sanskirt General</td>
    <td>Summer 2021</td>
    <td>Rejected</td>
  </tr>
  <tr>
    <td>1236845</td>
    <td>PL332-Pail Sutta Literature</td>
    <td>Winter 2021</td>
    <td>Confirmed</td>
  </tr>

</table>
<a href="" routerLink="/login" routerLinkActive="active">Back</a>

