<div id="header">
  <h1>
    Course Registration Online System <sub> (CRO )</sub>
  </h1>
</div>

<div id="content">
  <div id="left_content">
    John Done <br> <br> NVE-4472<br> <br>
    +21043567934<br>
    <br> johndone@dkus@edu
  </div>
  <div id="right_content">
    83 of 120 Credit<br>
    <br> Undergraduate
  </div>
</div>
<form method="post" action="screenrecord.html">
  <div id="main_content">
    <div
      style="background-color: mediumseagreen; color: white; font-weight: bold; padding: 15px;">Registeration
    </div>
    <div style="padding: 20px">
      Department <br> <select id="department" class="inputfield">
      <option></option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select><br>
      <br> Course<br> <select id="course" class="inputfield">
      <option></option>
      <option value="language">SK103 - Literature in Sanskrit
        Language</option>
      <option value="historical">SK428 - Historical Survey of
        Sanskrit Literature</option>
      <option value="methodology">SK102 - Methodology of
        Sanskrit General</option>
      <option value="literature">PL332 - Pali Sutta Literature</option>
    </select>
    </div>
    <div id="left_innerContent">
      Semester<br> <input type="radio" id="winter" value="winter">
      <label for="winter">Winter</label> <input type="radio" id="summer"
                                                value="summer"> <label for="summer">Summer</label>
    </div>
    <div id="right_innerContent">
      Year<br> <select id="year" class="inputfield1">
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2023">2023</option>
      <option value="2024">2024</option>
      <option value="2025">2025</option>

    </select>
    </div>
    <div id="submitButton">
      <input type="submit" value="Summit Registeration"
             class="button" routerLink="/record" routerLinkActive="active">

    </div>

  </div>

</form>

<div id="footer">
  <h3>&copy;&nbsp;Dekastan State University (Civities Universities Dekastan )</h3>
</div>

